.footer_logo{
  
  margin-bottom: 20px;
}


.footer {
  
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.container_foot{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
  }

  .connect_foot {
    color: var(--contacts-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .connect_foot:hover,
  .connect_foot:focus {
    color: var(--subsidiary-color);
  
  }
  
  .connect_foot_lis {
    list-style:none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .foot_lis {
    margin-top: 9px;
    color: var(--contacts-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .addres{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tagline-text-color);
  }
  
  
  .footer_social_net {
    display: flex;
    list-style:none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
                                 /* soc */
  .footer_headi {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--tagline-text-color);
    margin-bottom: 20px;
    margin-top: 0;
  }
  .footer_logo_soc {
    margin-left: 70px;
  
  }
  
  .inst_footer{
    display: inline-flex;
     width: 44px;
     height: 44px;
     background-color: #FFFFFF1A;
     align-items:center;
     justify-content: center;
     border-radius: 50%;
     fill:#ffffff;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .instgr_footer {
      margin-right: 10px;
      
    }
    .inst_footer:focus,
    .inst_footer:hover {
      background-color: var(--subsidiary-color);
      
    }
    
    
    .twit_footer{
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .twitr_footer {
      margin-right: 10px;
    }
    .twit_footer:focus,
    .twit_footer:hover {
      background-color: var(--subsidiary-color);
    }
    
    
    .face_footer{
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .facebo_footer {
      margin-right: 10px;
    }
    
    .face_footer:focus,
    .face_footer:hover {
      background-color: var(--subsidiary-color);
    }
    
    
    .linin_footer{
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    .linind_footer {
      margin-right: 32px;
    }
    
    .linin_footer:focus,
    .linin_footer:hover {
      background-color: var(--subsidiary-color);
    }
                             /*------------send    form--------------- */
  .footer_send {
    margin-left: 93px;
  }
  
  .footer_send_form {
    display: flex;
    list-style:none;
    justify-content: center;
    padding: 0;
    margin: 0;
    
  }
  .footer_send_form_mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 60%);
    border: 1px solid rgba(255, 255, 255, 30%);
    background-color: #2F303A;
    border-radius: 4px;
    margin-right: 12px;
    text-indent: 16px;
    
  }
  .footer_send_form_mail:focus{
    outline: 0;
  }
  
  .mail_footer_send {
    display: flex;
    width: 200px;
    height: 50px;
    background-color : #2196F3;
    border-radius: 4px;
    border: 1px solid #2196F3;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-indent: 29px;
    align-items:center;
    padding: 0px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .footer_send_label {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .footer_send_label_mail {
    position: absolute;
    fill: #E5E5E5;
    top: 13px;
    left: 145px;
  
  
  }
  .mail_footer_send:focus,
  .footer_send_label:focus,
  .mail_footer_send:hover,
  .footer_send_label:hover{
    cursor: pointer;
  }


