.footer__logo{
  
  margin-bottom: 20px;
}


.footer {
  
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
  }

  .footer__connections_link {
    color: var(--contacts-color);
    text-decoration: none;
    font-size: 14px;
    margin-top: 9px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--subsidiary-color);
    }
  }
  

  
  .footer__connections {
    list-style:none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .footer__connections_item {
    margin-top: 9px;
    color: var(--contacts-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .footer__addres{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tagline-text-color);
  }
  
  
  .footer__social_net_list {
    display: flex;
    list-style:none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
                                 /* soc */
  .footer__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--tagline-text-color);
    margin-bottom: 20px;
    margin-top: 0;
  }
  .footer__social_net {
    margin-left: 70px;
  
  }
  
  .footer__instagram_svg{
    display: inline-flex;
     width: 44px;
     height: 44px;
     background-color: #FFFFFF1A;
     align-items:center;
     justify-content: center;
     border-radius: 50%;
     fill:#ffffff;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:focus,
     &:hover {
       background-color: var(--subsidiary-color);
     }
    }

    .footer__instagram {
      margin-right: 10px;
    }

    
    
    .footer__twitter_svg {
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: var(--subsidiary-color);
      }
    }

    .footer__twitter {
      margin-right: 10px;
    }

    
    
    .footer__facebook_svg{
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: var(--subsidiary-color);
      }
    }

    .footer__facebook {
      margin-right: 10px;
    }
    

    
    
    .footer__linkedin_svg{
      display: inline-flex;
      width: 44px;
      height: 44px;
      background-color: #FFFFFF1A;
      align-items:center;
      justify-content: center;
      border-radius: 50%;
      fill:#ffffff;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: var(--subsidiary-color);
      }
      
    }
    .footer__linkedin {
      margin-right: 32px;
    }
    

                             /*------------send    form--------------- */
  .footer__dispatch {
    margin-left: 93px;
  }
  
  .footer__send_form {
    display: flex;
    list-style:none;
    justify-content: center;
    padding: 0;
    margin: 0;
    
  }
  .footer__send_mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 60%);
    border: 1px solid rgba(255, 255, 255, 30%);
    background-color: #2F303A;
    border-radius: 4px;
    margin-right: 12px;
    text-indent: 16px;
    
    &:focus{
      outline: 0;
    }
  }

  
  .footer__button_send {
    display: flex;
    width: 200px;
    height: 50px;
    background-color : #2196F3;
    border-radius: 4px;
    border: 1px solid #2196F3;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-indent: 29px;
    align-items:center;
    padding: 0px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }



  .footer__send {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .footer__button_svg {
    position: absolute;
    fill: #E5E5E5;
    top: 13px;
    left: 145px;
  }


